:root{
    --font_color: white;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 1s;
}

*::selection{
    background-color: rgba(137, 43, 226, 0.551);
}

body{
    min-height: 100vh;
    color: var(--font_color);
    background-color: rgb(255, 200, 97);
}

#myCanvas{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;

    z-index: -1;
}

.navbarContainer{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
}

.navbar{
    min-width: 500px;
    max-width: 1000px;
    width: 70%;

    margin-top: 20px;

    border-radius: 45px;

    background-color: rgba(0, 0, 0, 0.577);

    display: grid;
    grid-template-columns: 200px 1fr;

    grid-template-areas: 
    "title links";

    z-index: 99;

}


.navbar h1{
    display: inline-block;
    width: 200px;
    margin: 25px;
}

.navElements{
    display: flex;
    align-items: center;
    padding: 25px;
    margin-left: auto;
}

.navElements ul{
    display: inline-block;
}

.navElements li{
    display: inline-block;
    margin-right: 30px;
}
a{
    color: var(--font_color);
    text-decoration: none;
    font-size: 24px;
}
.hero{
    display: flex;
    height: 600px;
    margin: 25px;
}

.gridLayout{
    display: grid;
    width: 100%;
    height: 100%;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    "programingLanguages home home frondDevGraphs"
    ". home home frondDevGraphs";
}

.frondDevGraphs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.programingLanguages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    min-height: 200px;
}

.box{
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    transition: all 0.3s;
}

.box:hover{
    transform: translateY(-5px) scale(1.1);
}

.home{
    font-size: 45px;
    background-color: rgba(46, 45, 43, 0.805);
    animation: infinite both pulse 5s;
    border-radius: 25px;
    text-align: center;
}
.home:hover{
    transform:scale(1.1);
}
.home h1::first-letter{
    font-size: 108px;
    background-color: aquamarine;
    color: black;
    padding: 20px;
    margin-right: 10px;
}
.home p{
    text-align: justify;
    padding: 75px;
    font-size: clamp(18px,2vw, 70px);
}

.aboutMe{
    height: auto;
    margin: 75px;
    background-color: rgba(0, 0, 0, 0.481);
    animation: infinite forwards pulse 5s;

    display: grid;
    grid-template-columns: 75% 25%;
}
.aboutMe:hover{
    transform: scale(1.1) translateY(-15px);
}

.skills h1{
    text-align: center;
    margin: 25px;
}
.skills ul li{
    list-style: none;
    text-align: center;
    font-size: clamp(12px, 2vw, 32px);
}

.mySection{
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto;
}


.aboutText h1{
    text-align: center;
    font-size: 85px;
    margin-bottom: 32px;
}
.aboutText p{
    font-size: clamp(18px,2vw, 40px);
}



@media screen and (max-width: 1120px) {
    
    .gridLayout{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;

        grid-template-areas: 
            "programingLanguages ." 
            "home home"
            "frondDevGraphs frondDevGraphs";
        z-index: 2;
    }

    .programingLanguages{
        min-height: 400px;
    }
    .hero{
        display: flex;
        height: auto;
        margin: 25px;
    }
}

@media screen and (max-width: 600px) {
    
    .aboutMe{
        background-color: rgba(0, 0, 0, 0.481);

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 0.5fr;
        grid-template-areas: "mySection"
        "skills"
        ;
    }

    .mySection{
        grid-area: mySection;
    }
    .skills{
        grid-area: skills;
    }
    
}



@keyframes pulse {
    0%{
        background-color: rgba(0, 0, 0, 0.629);
    }
    50%{
        background-color: rgba(0, 0, 0, 0.962);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.629);
    }
}